'name': 'dotfiles'
'scopeName': 'source.dotfiles'
'patterns': [
  'include': 'source.shell'
]
'fileNames': [
  'symlink'
  'zlogin'
  'zlogout'
  'zpreztorc'
  'zprofile'
  'zshenv'
  'zshrc'
]
'fileTypes': [
  'ackrc'
  'aliases'
  'antigen'
  'bash_aliases'
  'bash_profile'
  'bash_prompt'
  'bashrc'
  'brew'
  'cshrc'
  'curlrc'
  'dircolors'
  'editorconfig'
  'env'
  'env.development.local'
  'env.development'
  'env.dusk.local'
  'env.dusk.testing'
  'env.example'
  'env.local'
  'env.production.local'
  'env.production'
  'env.test.local'
  'env.test'
  'env.testing'
  'envrc'
  'eslintignore'
  'exports'
  'extra'
  'functions'
  'git'
  'gitattributes'
  'gitconfig'
  'gitignore'
  'gitignore_global'
  'gitmodules'
  'hushlogin'
  'inputrc'
  'jsbeautifyrc'
  'jshintignore'
  'lftprc'
  'npmignore'
  'npmrc'
  'osx'
  'packages'
  'pkginit'
  'profile'
  'screenrc'
  'symlink'
  'wgetrc'
  'xsessionrc'
  'zlogin'
  'zlogout'
  'zpreztorc'
  'zprofile'
  'zsh-theme'
  'zshenv'
  'zshrc'
]
